[submodule "external/proves"]
	path = external/proves
	url = https://github.com/Open-Source-Space-Foundation/proves-core-reference
[submodule "external/fprime"]
	path = external/fprime
	url = https://github.com/nasa/fprime.git
[submodule "external/fprime-zephyr"]
	path = external/fprime-zephyr
	url = https://github.com/Open-Source-Space-Foundation/fprime-zephyr.git
